.descriptionbox {
  margin: 60px auto;
  max-width: var(--container-width);
  padding: 0 20px;
}

.descriptionbox-navigator {
  display: flex;
  gap: 5px;
  margin-bottom: -1px; /* Overlap border */
}

.description-nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  border: 1px solid var(--border-color);
  border-bottom: none;
  background-color: var(--bg-color);
  color: var(--text-main);
  cursor: pointer;
  border-radius: var(--radius) var(--radius) 0 0;
  transition: all 0.3s ease;
}

.description-nav-box.fade {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  border-bottom: 1px solid var(--border-color);
}

.descriptionbox-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid var(--border-color);
  padding: 40px;
  background: var(--bg-color);
  border-radius: 0 var(--radius) var(--radius) var(--radius);
  color: var(--text-secondary);
  line-height: 1.6;
}

@media (max-width: 800px) {
  .description-nav-box {
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .descriptionbox-description {
    padding: 20px;
    font-size: 14px;
  }
}