.checkout-left {
  flex: 2.5;
}

.checkout-right {
  flex: 1;
}

.delivery-section {
  border: 1px solid #ccc;
  padding: 20px;
}

.delivery-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.delivery-section h1 {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.delivery-note {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 15px;
}

.delivery-option {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.delivery-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
}

.delivery-item input {
  margin-top: 6px;
}

.delivery-desc {
  font-size: 13px;
  color: #555;
}

.delivery-address {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.address-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.address-actions button {
  width: 100px;
}

.selected-btn {
  background: white;
  border: 1px solid #0071e3;
  color: #0071e3;
  padding: 5px 10px;
  cursor: default;
}

.edit-btn {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.delivery-buttons {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.next-btn {
  flex: 1;
  background: black;
  color: white;
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  font-weight: 500;
}

.new-address-btn {
  flex: 1;
  background: white;
  border: 1px solid #000;
  padding: 12px 15px;
  cursor: pointer;
}

.order-summary {
  border: 1px solid #ccc;
  padding: 20px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-bottom: 15px;
}

.order-details div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.order-total {
  border-top: 1px solid #eee;
  padding-top: 8px;
  margin-top: 8px;
}

.tax-note {
  font-size: 13px;
  color: #555;
  margin-top: 5px;
}

.discount-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  font-size: 14px;
}
