.breadcrum {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 500;
  margin: 30px auto;
  max-width: var(--container-width);
  padding: 0 20px;
  text-transform: capitalize;
}

.breadcrum img {
    height: 12px;
    opacity: 0.6;
}

@media (max-width: 800px) {
    .breadcrum {
        margin: 20px auto;
        font-size: 12px;
    }
}