.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px auto; /* Add margin top/bottom */
  max-width: var(--container-width);
  padding: 0 20px;
}

.popular h1 {
  color: var(--text-main);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.popular hr {
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background: var(--primary-color);
  border: none;
  margin-bottom: 30px;
}

.popular-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Responsive Grid */
  gap: 30px;
  width: 100%;
}

@media (max-width: 800px) {
  .popular h1 {
    font-size: 30px;
  }
  
  .popular-item {
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 20px;
  }
}

@media (max-width: 500px) {
  .popular-item {
    grid-template-columns: 1fr 1fr; /* 2 columns on mobile */
    gap: 15px;
  }
  
  .popular h1 {
    font-size: 24px;
  }
}
